# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# Python
venv/
__pycache__/
*.pyc
build/
dist/
*.egg-info/
